.first_part_inscription {
  background-color: white;
  font-size: 16px;
}
.title_inscription {
  background-color: none;
  border-style: yellow;
  text-align: justify;
}
.game-image.selected {
  border: 2px solid blue; /* par exemple, pour ajouter une bordure bleue */
}

@media screen and (max-width: 933px) {
  .title_inscription {
    border-width: 2pm;
    border-style: solid;
    border-color: yellow;
    font-size: 14px;
    text-align: center;
  }
}